<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Home</h5>
              <hr class="my-4">
              <form class="form-inline ">

                <a class="btn btn-lg btn-primary btn-block text-uppercase" routerLink="/register">Register</a>

                <a class="btn btn-lg btn-primary btn-block text-uppercase" routerLink="/login">Login</a>
                
              </form>
              <hr class="my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
    </body>
    
    <router-outlet></router-outlet>
